#gallery {
	text-transform: uppercase;
	font-size: 1.2em;
	color: white;
}

/*-- BLOCK 3 : SLIDER --*/
@keyframes slidy {
  0%  { left: -0%;   }
  20% { left: -0%;   }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  85% { left: -300%; }
  90% { left: -300%; }
}

#slider { 
  overflow: hidden; 
  height: 800px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#slider figure img { 
	 width: 20%; float: left; 
}

#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite; 
}
/*-- END BLOCK 3 : SLIDER --*/
